<div>
    <div class="container" id="tf-header">
        <div class="tf-header-nav span-24 last">
            <a class="tf-back-button" href="/">&larr; back to homepage</a>
        </div>
        <div class="tf-header-left span-19">
            <h1 class="doc-title"></h1>
        </div>
        <div class="tf-header-right span-5 last">
            <div class="product-logo-box">
                <img class="product-icon" src="/base/img/icons/totalfinder-64.png">
                <div class="product-tagline">
                    <h2 class="product-title">TotalFinder</h2>
                    <h3 class="product-subtitle"><a href="/documentation">documentation</a></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="tf-nav">
        <div class="tf-header-left span-12">
            
            &nbsp;
            
        </div>
        <div class="tf-header-right span-12 last">
            
            &nbsp;
            
        </div>
    </div>
</div>

<div id="main-content" class="tf-page">
    <div class="container">
        <div class="page-content">
            
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $(".hoverable-input").bind('click', function(e){
            this.select();
        });
    });
</script>