<div>
    <div class="container" id="ts-header">
        <div class="ts-header-nav span-24 last">
            <a class="ts-back-button" href="/">&larr; back to homepage</a>
        </div>
        <div class="ts-header-left span-19">
            <h1 class="doc-title"></h1>
        </div>
        <div class="ts-header-right span-5 last">
            <div class="product-logo-box">
                <img class="product-icon" src="/base/img/icons/totalspaces-64.png">
                <div class="product-tagline">
                    <h2 class="product-title">TotalSpaces</h2>
                    <h3 class="product-subtitle"><a href="/documentation">documentation</a></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="ts-nav">
        <div class="ts-header-left span-12">
            
            &nbsp;
            
        </div>
        <div class="ts-header-right span-12 last">
            
            &nbsp;
            
        </div>
    </div>
</div>

<div id="main-content" class="ts-page">
    <div class="container">
        <div class="page-content">
            
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $(".hoverable-input").bind('click', function(e){
            this.select();
        });
    });
</script>